body{
    font-family: 'Open Sans', sans-serif;  
}

form{
    color: #090446;
}

h1{
    font-weight: 100;
    color: #090446;
}

p{
    font-weight: 100;
    font-size: small;
    color: #090446;
}

input.div{
    color: #e081fd;
}

button{
    background-color: #090446;
    border-color: #5C95FF;
}