.card-body {
  padding: 11.25rem;
  margin-top: -10rem;
}

.card {
  background-color: #e5e6e4;
}

.cmp {
  margin-left: 22%;
}

h3 {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 15rem;
  display: flex;
}

.btn-primary {
  background-color: #090446 !important;
  padding: 0.375rem 10rem;
  margin-bottom: 2rem;
}

.InfoPaymentSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .card-body {
    padding: 0;
    margin: 0;
  }
  .cmp {
    margin: 0;
  }
  h3 {
    font-size: 20px;
  }
  .form-check-input {
    margin-left: 70%;
  }
  #cvv p {
    margin-top: 0;
  }

  .btn {
    margin: 10%;
  }

  .btn-primary {
    background-color: #090446 !important;
    padding: 0.375rem 6rem;
    margin-bottom: 2rem;
  }
}
