.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    max-width: 30%;
    height: auto;
}

#details_exp {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: #090446;
}

.form-label{
    margin-top: 0,5rem;
}

.limited-width {
    max-width: 400px; /* Choisis une largeur maximale adaptée à ton design */
  }

#tel{
    max-width: 325px;
}

#pap{
    display: block; 
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #090446;
    border-color: #5C95FF;
}

input.inputs, option, select.form-select {
    color: #5C95FF;
}
input.inputs:focus {
    color: #5C95FF;
}

#footer_row{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #e5e6e4;
    font-size: 15px;
}

#footer_row>*{
    margin-bottom: 1em;
}

.liens_footer:hover{
    color: #5C95FF;
    cursor: pointer;
}

input.inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5C95FF;
    opacity: 0.6;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}