#bouton_retour {
  width: 20%;
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

#logo img {
  width: 20%;
  margin-left: 20%;
  margin-top: 1rem;
}

#bouton_retour {
  color: #090446;
}

#bouton_retour:hover {
  cursor: pointer;
  color: #5c95ff;
}

@media screen and (max-width: 768px) {
  #bouton_retour {
    width: 20%;
    font-size: 2rem;
  }

  #logo img {
    width: 60%;
    margin-left: 10%;
    margin-top: 1rem;
  }
}
