.boutons_filtre_tri {
    height: 2em;
    font-size: 15px;
    background-color: white;
    border-width: 1px;
}

.boutons_filtre_tri:hover {
    background-color: #090446;
    color: white;
    transform: scale(0.9);
    transition: transform .15s;
}

.bordure_droite{
    border-right: solid 1px;
}

.row_icons i{
    font-size: 1.5em;
}

.aligner_centre {
    text-align: center;
}

#bouton_tri{
    border-radius: 10px 0% 0% 10px;
    /* border-right: 0; */
}

#bouton_filtre{
    border-radius: 0% 10px 10px 0%;
}

header i {
    font-size: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.barre_recherche {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#input_recherche {
    border: none;
}

.retour_haut {
    width: 2em;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    font-size: 2em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: #090446;
    background-color: #5C95FF;
    transition: transform .15s;
    will-change: transform;
}

.retour_haut:hover {
    transform: translateY(-4px);
    color: #5C95FF;
    background-color: #090446;
}

.retour_haut:active {
    color: #090446;
    background-color: #5C95FF;
    transform: translateY(4px);
}

.scroll_down {
    display: none;
}

.menuburger {
    position: absolute;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.burger_categories:hover, .burger_categories>a:hover {
    color:#5C95FF;
}

.curseur_pointeur {
    cursor:pointer;
}

.filtreflou {
    filter: blur(4px);
}


/*-----------Menu Burger------------*/
.menuburger a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    text-align: left;
}

.menuburger i {
    font-size: 2em;
}

.menuburger {
    border-right: solid 1px;
    border-color: #090446;
}

.icon_burger_rotate{
    transform: rotate(90deg);
    display: inline-block;
    margin-top: -50px;
}
/*...........Menu Burger.............*/

.nbr_articles{
    color: #090446;
    font-size: 20px;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.btn_ajout_panier {
    background-color: #090446;
    color: white;
    border-color: #5C95FF;
}

.description {
    color: #5C95FF;
}

.card-title {
    color: #090446;
}

.prix_produit {
    float:right;
    display: inline;
    font-weight:bold;
    font-size: 20px;
}

.card-img-top{
    width: 75%;
    margin-top: 10px;
}

.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajouter_favoris {
    position: absolute;
    top:5px;
    right: 10px;
    font-size: 2em;
    width: 2em;
    text-align: right;
}

.ajouter_favoris:hover {
    color:red;
    cursor: pointer;
}

#footer_row{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: lightgray;
    font-size: smaller;
}

#footer_row>*{
    margin-bottom: 1em;
}

.liens_footer:hover{
    color: #5C95FF;
    cursor: pointer;
}